@use "../../styles/colors.scss" as *;

.podcast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 1440px;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .links {
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 8px;
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0, "wdth" 100;
    display: block;
    color: $white;

    .description {
      font-weight: 400;
      opacity: 0.65;
      font-style: italic;
    }
  }

  .figure {
    position: relative;
    z-index: 3;
    margin: auto;
    padding: 0;

    .image {
      border-radius: 8px;
      overflow: hidden;
      max-width: 100%;
      width: 75%;
      margin: 0 auto;
      padding: 0;
    }
  }

  .link {
    transition: opacity 200ms ease;
    color: $white;

    &:hover {
      opacity: 0.65;
    }
  }
}

.vignette {
  box-shadow: 0 0 10% $darker inset;
  position: fixed;
  width: 65%;
  height: 65%;
  z-index: -1;
  filter: blur(50px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .image2 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 24px;
    z-index: 1;
    opacity: 0.35;
  }

  @media (min-width: 1440px) {
    display: none;
  }
}
